{% extends "base.html" %}
{% load static %}
{% url 'update_AI' as update_AI_url %}
{% url 'update_AI2' as update_AI2_url %}
{% url 'text_rename' as text_rename_url %}
{% url 'text_delete' as text_delete_url %}
{% url 'your_AI_list' as your_AI_list_url %}

{% block content %}
<div class="container" id="background_meal_list">
    <div class="row">
      <!-- col-12 class from bootstrap -->
        <div class="standard col-12">
          <h1>Set Times</h1>
          <!-- btn-success class from bootstrap -->
          <p><a href="{% url 'update_AI' ai.id %}" class="btn btn-success" aria-label="Link with button class for creating a new AI">Create New Training Text For AI</a></p>
          <h2>List of Times</h2>
          <p>Each date you select will be given to the AI so that it can respond as if it only had been trained on texts given to it before and including that date. The AI will give 3 responses based on the dates you give it. </p>
          <form method="POST">
            {% csrf_token %}
          <select id="time1" name="time1">
                {% for AI_value in AI_values %}
                <option value="{{AI_value.id}}">{{AI_value.updated_at}}</option>
                {% endfor %}
          </select><br><br>
          <select id="time2" name="time2">
                {% for AI_value in AI_values %}
                <option value="{{AI_value.id}}">{{AI_value.updated_at}}</option>
                {% endfor %}
          </select><br><br>
          <select id="time3" name="time3">
                {% for AI_value in AI_values %}
                <option value="{{AI_value.id}}">{{AI_value.updated_at}}</option>
                {% endfor %}
          </select><br><br>
          <!-- btn-success classes from bootstrap used for set times button  -->
          <button type="submit" class="btn btn-success">Set 3 Times</button>
          </form>
          <br>
          <h3>Text List</h3>
          <table class="standard">
            <tr>
              <th> Text name</th>
              <th> Created at </th>
              <th> Updated at </th>
              <th> Delete</th>
            </tr>
            {% for AI_value in AI_values %}
              <tr>
                <!-- btn-success and btn-danger class from bootstrap -->
                  <td class="padding4">{{AI_value.name2}}</td>
                  <td class="padding4">{{AI_value.created_at}}</td>
                  <td class="padding4">{{AI_value.updated_at}}</td>
                  <td class="padding4"><a href="{% url 'text_delete' ai.id AI_value.id %}" class="btn btn-danger" aria-label="Link with button class for deleting a AI">Delete</a></td>
              </tr>
            {% endfor %}
            </table>
            <br>
            <a href="{% url 'your_AI_list' %}" class="btn btn-success" aria-label="Button that sends you to the AI list">Go back to AI List</a>
        </div>
    </div>
</div>
<!-- custom javascript -->

{% endblock %}