{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- id image from pinterest -->
<div id="background_humanoid_robot" >
    <div class="container">
        <div class="row">
            <!-- col classes from boostraps grid system -->
            <div class="container_margin col-xl-3 col-lg-5 col-sm-9">
                <h1>Why you would want to use the site?</h1>
                <p>To help people build something and feel a sense of a proudness. To help people improve there writing by having the AI write a new version of some text that a person wrote so that they can get new ideas on how they write differently with what they already know.
                </p>
            </div>
            <div class="container_margin col-xl-3 col-lg-5 col-sm-9">
                <h2>What to use the site for</h2>
                <p>Allow children to put their writing into an AI as AI training data at different stages of their education and have the AI be able to generate writing at the level of the child at different stages so that they can see how far they have come.
                </p>
            </div>
            <div class="container_margin col-xl-3 col-lg-5 col-sm-9">
                <h2>Instructions</h2>
                <p>
                    <ul>
                        <li>Click on Create AI in the navbar at the top left. To name your AI after which you can see your AI in the AI List page which you will be taken to after you name your AI. You can also get there by clicking on the Your AI List button in the navbar.
                        </li>
                        <li>From The AI List page you can click on the dit or Add data to AI. At the start the AI will have no training data so you may want to click on it first.
                        </li>
                        <li>From the Update AI page you can enter in text for the AI to train on and you can activate/save the text by clicking on Train AI
                        </li>
                        <li>After you click on that button you will be taken to the Text list page where you cam edit the training you have given your AI.
                        </li>
                        <li>Back on the AI List page you can click on the Talk button to go to a page for AI repsonses which has a button to select 3 times for 3 responses that are made as if the AI was only trained on text given before and including that time.
                        </li>
                    </ul>
                </p>
            </div>
            <div class="container_margin col-xl-3 col-lg-5 col-sm-9">
                <!-- some information sourced from scienceinsights -->
                <!-- some information sourced from sparringmind -->
                <!-- some information sourced from facilethings -->
                <h2>The effects of writing</h2>
                <p>Writing activates a surprisingly wide network of brain regions, far more than most daily activities. It simultaneously engages areas responsible for language, movement, vision, memory, and emotional processing.</p>
                <h3>List of effects</h3>
                <ul>
                    <li>writing strengthens memory</li>
                    <li>regulates emotions</li>
                    <li>writing makes you happier</li>
                    <li>writing helps clarify your thinking</li>
                    <li>eliminate stress</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}